---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.svelte";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <Card title="Ma carte" body="le corps de la cate" href="#" />
  </main>
</Layout>
