<header class="flex justify-between items-center py-4 bg-gray-800 text-white">
    <h1 class="text-lg font-bold">Mon titre</h1>
    <nav>
        <ul class="flex">
            <li class="ml-4">
                <a href="#" class="hover:text-gray-300">Accueil</a>
            </li>
            <li class="ml-4">
                <a href="#" class="hover:text-gray-300">À propos</a>
            </li>
            <li class="ml-4">
                <a href="#" class="hover:text-gray-300">Contact</a>
            </li>
        </ul>
    </nav>
</header>
